html
	head
		title.
			Magic Smoke
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
	body.blackpage
		div(style='text-align: center')
			a(href="/status")
				img(src="/images/msmoke_logo.png")
			div.italics
				h1.
					I know it's illegal, but it's the weekend
