html
	head
		title.
			Magic Smoke
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
	body.blackpage
		a(href="/status")
			img(src="/images/msmoke_logo.png")
