html
	head
		title Magic Smoke
		link(href='/css/fading.css', rel='stylesheet')
		link(href='/css/res_colors.css', rel='stylesheet')
		link(href='/css/generic.css', rel='stylesheet')
	body
		header
			h1= "Magic Smoke"
			nav
				ul
					li
						a(href="/") home
					li
						a(href="/status") status
					li(class="dropdown")
						a(href="#") boards
						div(class="dropdown-content")
							each board in boardinfo
								a(href="/board/"+board.sname) #{ board.name }
					li
						a(href="/show") show
		main
			section(class="hero")
				div(class="hero-content")

					hr
					table
						tbody
							tr(class="navlike")
								td
									a(href="/configgroups") Configure Groups
								td(class="dropdown")
									a(href="#") Configure Boards
									div(class="dropdown-content")
										each board in boardinfo
											a(href="/configboards/"+board.sname) #{ board.name }

					hr
					div
						a(href="/status")
							img(src="/images/msmoke_logo.png")
					hr
					div.italics
						h2.
							I know it's illegal, but it's the weekend
