html
	head
		title= title
		link(href='/css/fading.css', rel='stylesheet')
	body
		h1.fading= message
		table
			tr
				td(style='width: 5%').
					0
				td(style='width: 95%')
					table(style='width: 100%')
						tr
							td
								table(style='width: 100%')
									tr
										td.
											left field - flood red
									tr
										td.
											center field - white sparkles
									tr
										td.
											right field - flood red
							td(style='align=center').
								fire


