
div {
	color: white;
}

.italics {
	font-style: italic;
}

.lowresistance {
	color: white;
	background-color: blue;
}

.highresistance {
	color: black;
	background-color: yellow;
}

.nodataresistance {
	color: white;
	background-color: red;
}

.blackpage {
	background-color: black;
}

